/* main section */
.ml-main {
  height: 95vh;
  margin-bottom: $baseMlMainMargin;
  color: $baseTextColor;

  &__wrapper {
    width: 100%;
    height: 100%;
    max-width: $maxWidthBase;
    margin: $baseCenteredMargin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    padding-bottom: $basePadding;

    & > h1 {
      width: 82%;
      font-size: 1.5em;
      font-family: $baseFontFamily;
      padding-bottom: $baseSmallPadding;

      & span {
        font-size: 2.5em;
        font-family: $neonFontFamily;
        display: inline-block;
      }
    }

    & > h2 {
      width: 80%;
      // max-width: 305px;
      font-family: $baseFontFamily;

      & span {
        font-family: $anotherNeonFontFamily;
      }
    }
  }

  &__description {
    flex-grow: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;

    & p {
      font-family: $baseFontFamily;
    }
  }

  &__description.non {
    border: none;
    --color: none;
  }
}

.swipe {
  padding-bottom: $basePadding;

  & .button-background2 {
    padding: 8px $basePadding;
    border-radius: $borderRadiusBase;
    font-family: $neonFontFamily;
    text-transform: uppercase;
    text-align: left;
  }
}
