/* variables */

/* padding */

/* base */
$baseWrapperPadding: 0 15px;
$baseDivPadding: 90px;
$baseHeaderWrapperPadding: 5px 15px 0;
$baseLogoPadding: 4px 8px;
$basePadding: 40px;
$baseLargePadding: 80px;
$baseSmallPadding: 20px;
$baseVerySmallPadding: 10px;
$baseLabelPadding: 0px 0px 5px 5px;
$baseAnchorPadding: 70px;
$baseContactPaddingBottom: 160px;
$faLinkPadding: 15px;

/* 600up */
$basePadding600up: 70px;
$baseSmallPadding600up: 30px;
$padding600up: 0 $baseSmallPadding600up;

/* 768up */
$basePadding768up: 90px;
$paddingBottom768up: 60px;
$labelPadding768up: 10px;
$anchorPadding768up: 150px;
$padding768up: 0 35px;

/* 1024up */
$padding1024up: 0 $basePadding;
$swipePadding1024up: 120px;

/* 1440up */
$padding1440up: 0 50px;

/* margin */

/* base */
$baseMarginAuto: auto;
$baseCenteredMargin: 0 auto;
$baseHamburgerMenuMargin: 4px;
$baseMlMainMargin: 90px;
$baseWorkMargin: 80px;
$baseWorkListMargin: 20px;

/* 768up */
$hamburgerMenuMargin768up: 6px;

/* overflow-wrap */
$baseOverflowWrap: break-word;

/* line-height */
$baseLineHeight: 3em;

/* max-width */

/* color */
$baseTextColor: #dee6ff;
$colorWhite: #fff;

.x-sign {
  --interval: 1s;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

.x-sign2 {
  color: pink;
  --color1: pink;
  --color2: orangered;
  --color3: red;
  --color4: magenta;
}

.x-sign3 {
  color: lightyellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: mediumblue;
}

.x-sign9 {
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;
}

.x-sign5 {
  color: azure;
  --color1: azure;
  --color2: aqua;
  --color3: dodgerblue;
  --color4: blue;
}

.neonColorYellow {
  @extend .x-sign;
  @extend .x-sign9;
}

.neonColorPink {
  @extend .x-sign;
  @extend .x-sign2;
}

.neonColorGreen {
  @extend .x-sign;
  @extend .x-sign3;
}

.neonColorBlue {
  @extend .x-sign;
  @extend .x-sign5;
}

/* background-color */
// $baseBackgroundColor: #120e0c;
$baseBackgroundColor: #000;
$anotherBackgroundColor: #1a0f0a;
$baseCoverSlideAfter: #8d8d8d;

/* border */

/* border-radius */
$baseBorderRadius: 12px;
$baseSmallBorderRadius: 8px;

/* border-color */
.gas {
  --blur: 1rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 12rem;

  align-items: center;
  border-radius: $baseBorderRadius;
  border: 2px solid currentColor;
  box-shadow: 
        /* --- "glass" tube --- */
        /* inside */ inset 0 0 0
      1px rgba(0, 0, 0, 0.15),
    /* outside */ 0 0 0 1px rgba(0, 0, 0, 0.15),
    /* --- glow --- */ /* inside */ inset 0 0 var(--box-blur) var(--glow),
    /* outside */ 0 0 var(--box-blur) var(--glow);
  color: var(--color, white);
}

.he-yellow {
  // --color: #f3d574;
  --color: lightYellow;
  filter: saturate(120%) !important;
}

.ar-pink {
  --color: pink;
  filter: brightness(100%) !important;
}

.neonBorderYellow,
.neonBorderGreen {
  @extend .gas;
  @extend .he-yellow;
}
.neonBorderPink {
  @extend .gas;
  @extend .ar-pink;
}

/* font-family */
$baseNeonFontFamily: "Bad Script", cursive;
$subNeonFontFamily: Sriracha;
$baseFormalFontFamily: "Exo 2", serif;

/* font-size */

/* base (mobile ver) */
$coverFontSize: 1.2em;
$h1FontSizeForMobile: 2.5em;
$placeHolderFontSize: 16px;

/* 600up */
$h1FontSizeFor600up: 3em;
$h2FontSizeFor600up: 2em;

/* 768up */
$labelFontSizeFor768up: 1.2em;
$coverFontSize768up: 1.5em;
$h1FontSizeFor768up: 3em;
$h2FontSizeFor768up: 2.5em;
$h3FontSizeFor768up: 1.5em;

/* 1024up */
$labelFontSizeFor1024up: 1.5em;
$h2FontSizeFor1024up: 2em;
