/* about me section */
.aboutMe {
  height: auto;
  padding-bottom: 90px;

  &__wrapper {
    height: 100%;
    max-width: $maxWidthBase;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-bottom: $basePadding;

    & h1 {
      font-family: $neonFontFamily;
      text-align: center;
      padding-bottom: $basePadding;
    }
  }

  &__discription {
    width: 95%;
    margin: 0 auto;
    padding: 15px 0 $basePadding;
    font-family: $baseFontFamily;
    text-align: left;
    border: none;
    --color: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & h2,
    & p {
      padding-bottom: $basePadding;
      font-family: $baseFontFamily;
    }

    & h2 {
      font-family: $anotherNeonFontFamily;
      text-align: center;
    }

    & span {
      display: inline-block;
    }
  }

  &__skills {
    padding-bottom: $basePadding;
    text-align: center;
    border: none;

    & h3 {
      padding-bottom: $basePadding;
    }

    & h2 {
      font-family: $neonFontFamily;
    }

    & .skill-list {
      padding: $baseSmallPadding;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      border-bottom: $borderBase;
      color: $colorWhite;
    }

    & .skillSet {
      width: 90%;
      margin: 0 auto;
      padding-top: $basePadding;
      text-align: left;
      overflow-wrap: break-word;

      & ul {
        padding-bottom: $basePadding;

        & h3 {
          padding-bottom: $baseSmallPadding;
        }

        & > li {
          display: inline-block;
          padding: 6px 4px;
          border: $borderBase;
          border-radius: $baseSmallBorderRadius;
          font-family: $anotherNeonFontFamily;
        }
      }
    }
  }

  .swipe.about-sec {
    display: none;
  }
}

.title-sub {
  color: $cYellow;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;

  & img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: $borderRadiusBase;
  }
}
