// $cLightMode: #fefcf2;
$cLightMode: #b50f0f;

body.lightMode {
  background: $cLightMode;
  color: $cBase;
}

#global-container.lightMode {
  background: $cLightMode;
  color: $cBase;
}

.ml-header.lightMode {
  background: $cLightMode;
  color: $cBase;
}

.differentBg.lightMode {
  background: $cLightMode;
}

// .x-sign9.lightMode {
//   color: #0a0a05;
//   --color1: #fbff0c;
//   --color2: gold;
//   --color3: #ef9c04;
//   --color4: #fff;
// }
