/* myWork section */
.myWork {
  height: auto;
  padding-bottom: $baseDivPadding;

  &__title {
    margin-bottom: 5px;

    & h1 {
      font-family: $neonFontFamily;
      text-align: center;
      padding-bottom: $basePadding;
      letter-spacing: $baseLetterSpacingForNeonTitle;
    }
  }

  &__wrapper {
    width: 80%;
    height: 100%;
    max-width: $maxWidthBase;
    margin: $baseCenteredMargin;
    display: flex;
    flex-direction: column;
  }

  &__contents {
    flex-grow: 2;
  }
}

.work {
  height: 100%;
  margin-bottom: $baseWorkMargin;

  &__image {
    width: 100%;
    height: 100%;
    padding-bottom: $baseSmallPadding;

    & > img {
      display: inline-block;
      width: 100%;
      height: 100%;
      vertical-align: bottom;
      border-radius: $baseBorderRadius;
    }
  }

  &__description {
    text-align: center;
    padding-bottom: $basePadding;

    & h2 {
      letter-spacing: $baseLetterSpacing;
    }
  }

  &__links {
    width: 80%;
    margin: $baseCenteredMargin;
    display: flex;
    padding-bottom: $basePadding;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .w-linkList {
      flex-grow: 2;
      display: flex;
      justify-content: flex-end;
      color: $cTestBase;
      margin-left: $baseWorkListMargin;
    }
  }
}

.workTitle {
  font-family: $anotherNeonFontFamily;
}

.work-h2 {
  padding-bottom: $basePadding;
  letter-spacing: $baseLetterSpacing;
}

.work__description > p {
  width: 90%;
  margin: $baseCenteredMargin;
  font-family: $anotherNeonFontFamily;
}

.learnMore {
  display: inline-block;
  padding: 2px $baseVerySmallPadding;
  border-radius: $baseSmallBorderRadius;
  font-family: $anotherNeonFontFamily;
  letter-spacing: $baseLetterSpacing;
}

.fa-link {
  padding-left: $faLinkPadding;
}

.w-linkList > li:nth-child(2) {
  display: inline-block;
  padding-left: 5px;
}
