/* variables */

/* color */
$baseFormalFontFamily: "Exo 2", serif;

@mixin x-sign {
  --interval: 1s;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

@mixin x-sign2 {
  color: pink;
  --color1: pink;
  --color2: orangered;
  --color3: red;
  --color4: magenta;
}

@mixin x-sign3 {
  color: lightyellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: mediumblue;
}

@mixin x-sign9 {
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;
}

/* background-color */
$baseBackgroundColor: #120e0c;
