/* about me section */
.aboutMe {
  height: auto;
  padding-bottom: $baseDivPadding;

  &__wrapper {
    height: 100%;
    max-width: $maxWidthBase;
    margin: $baseCenteredMargin;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-bottom: $basePadding;

    // & h1 {
    //   font-family: $neonFontFamily;
    //   text-align: center;
    //   padding-bottom: $basePadding;
    //   letter-spacing: $baseLetterSpacingForNeonTitle;
    // }
  }

  &__discription {
    width: 80%;
    margin: $baseCenteredMargin;
    padding: 15px 0 $baseLargePadding;
    font-family: $baseFontFamily;
    text-align: left;
    border: none;
    --color: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: $baseLineHeight;
    overflow-wrap: $baseOverflowWrap;

    & h2,
    & p {
      padding-bottom: $basePadding;
      font-family: $baseFontFamily;
      letter-spacing: $baseLetterSpacing;
    }

    & h2 {
      font-family: $anotherNeonFontFamily;
      text-align: center;
    }

    & p {
      font-size: 1.1em;
      letter-spacing: normal;
    }

    & span {
      display: inline-block;
    }
  }

  &__skills {
    width: 85%;
    margin: $baseCenteredMargin;
    padding-bottom: $baseLargePadding;
    text-align: center;
    border: none;

    & h3 {
      padding-bottom: $basePadding;
      letter-spacing: $baseLetterSpacing;
    }

    & h2 {
      font-family: $neonFontFamily;
      letter-spacing: $baseLetterSpacing;
    }

    & .skill-list {
      padding: $baseSmallPadding;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      border-bottom: $borderBase;
      color: $colorWhite;
    }

    & .skillSet {
      width: 90%;
      margin: $baseCenteredMargin;
      padding-top: $baseLargePadding;
      text-align: center;
      overflow-wrap: break-word;

      & ul {
        padding-bottom: $baseLargePadding;

        & h3 {
          padding-bottom: $baseSmallPadding;
        }

        & > li {
          display: inline-block;
          padding: 6px 4px;
          border: $borderBase;
          border-radius: $baseSmallBorderRadius;
          font-family: $anotherNeonFontFamily;
        }
      }
    }
  }

  .swipe.about-sec {
    display: none;
  }
}

.title-sub {
  color: $cYellow;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;

  & img {
    display: inline-block;
    width: 90%;
    height: auto;
    border-radius: $borderRadiusBase;
  }
}
