/* contact form section */
.contact {
  padding-bottom: 160px;

  &__wrapper {
    width: 100%;
    height: 85%;
    max-width: $maxWidthBase;
    margin: 0 auto;
  }

  &__title {
    & h1 {
      font-family: $neonFontFamily;
      text-align: center;
      padding-bottom: 40px;
    }
  }

  &__form {
    padding-bottom: 40px;
  }
}

.contactMe {
  font-size: 1.4em;

  &__list {
    display: block;

    & > li {
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
    }
  }
}

.input-f,
.textarea-f {
  font-size: 1.4em;
  background: inherit;
  position: relative;
  padding-left: 0.6em;
  border-radius: 8px;
}

/* 補足 */
.input-f.gas.ar {
  border-color: $cPink;
}

.input-f::placeholder,
textarea::placeholder {
  font-size: $placeHolderFontSize;
  font-family: $neonFontFamily;
  font-weight: 400;
  position: absolute;
  top: 0.2em;
  left: 1em;
  padding-bottom: 0.1em;
}

.submit {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;

  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 50px;
    border: $borderBase;
    border-radius: $borderRadiusBase;
    border-color: $cPink;
    // font-size: 24px;
    font-size: 1.5em;
    text-align: center;
    font-family: $neonFontFamily;
  }
}

.social-media {
  width: 100%;

  & .social-media-list {
    width: 50%;
    margin: 0 auto;
    color: black;
    display: flex;
    justify-content: space-between;
  }
}
