footer {
  padding: 2em 0;
}

.footer {
  &__wrapper {
    margin: $baseCenteredMargin;
    text-align: center;
  }

  &__description {
    line-height: 16px;
  }
}

.copyright {
  font-family: $subNeonFontFamily;
  font-size: 0.8em;
}
