/* main section */
.ml-main {
  margin-bottom: $baseMlMainMargin;
  color: $baseTextColor;

  &__wrapper {
    width: 100%;
    min-height: 100vh;
    max-width: $maxWidthBase;
    margin: $baseCenteredMargin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    padding-bottom: $basePadding;
    text-align: center;
    width: 90%;
    margin: 0 auto;

    & > h1 {
      width: 80%;
      margin: 0 auto;
      font-size: 2em;
      font-family: $baseFontFamily;
      padding-bottom: $baseSmallPadding;
      letter-spacing: -1px;

      & span {
        font-size: 2em;
        font-family: $neonFontFamily;
        display: inline-block;
        letter-spacing: -6px;
      }
    }

    & > h2 {
      // width: 75%;
      font-family: $baseFontFamily;
      letter-spacing: -1px;
      line-height: 2em;

      & span {
        font-family: $anotherNeonFontFamily;
      }
    }
  }

  &__description {
    flex-grow: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;

    & p {
      font-family: $baseFontFamily;
    }
  }

  &__description.non {
    border: none;
    --color: none;
  }
}

.swipe {
  padding-bottom: $basePadding;

  & .button-background2 {
    padding: 8px 30px;
    font-size: 0.8em;
    border-radius: $borderRadiusBase;
    font-family: $neonFontFamily;
    text-transform: uppercase;
    text-align: left;
  }
}
