/* variables */

/* color */
$baseTextColor: #dee6ff;
$colorWhite: #fff;

.x-sign {
  --interval: 1s;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

.x-sign2 {
  color: pink;
  --color1: pink;
  --color2: orangered;
  --color3: red;
  --color4: magenta;
}

.x-sign3 {
  color: lightyellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: mediumblue;
}

.x-sign9 {
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;
}

.x-sign5 {
  color: azure;
  --color1: azure;
  --color2: aqua;
  --color3: dodgerblue;
  --color4: blue;
}

.neonColorYellow {
  @extend .x-sign;
  @extend .x-sign9;
}

.neonColorPink {
  @extend .x-sign;
  @extend .x-sign2;
}

.neonColorGreen {
  @extend .x-sign;
  @extend .x-sign3;
}

.neonColorBlue {
  @extend .x-sign;
  @extend .x-sign5;
}

/* background-color */
$baseBackgroundColor: #120e0c;
$anotherBackgroundColor: #1a0f0a;
$baseCoverSlideAfter: #8d8d8d;

/* border */

/* border-radius */
$baseBorderRadius: 12px;

/* border-color */
.gas {
  --blur: 1rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 12rem;

  align-items: center;
  border-radius: $baseBorderRadius;
  border: 2px solid currentColor;
  box-shadow: 
        /* --- "glass" tube --- */
        /* inside */ inset 0 0 0
      1px rgba(0, 0, 0, 0.15),
    /* outside */ 0 0 0 1px rgba(0, 0, 0, 0.15),
    /* --- glow --- */ /* inside */ inset 0 0 var(--box-blur) var(--glow),
    /* outside */ 0 0 var(--box-blur) var(--glow);
  color: var(--color, white);
}

.he-yellow {
  --color: #f3d574;
  filter: saturate(120%) !important;
}

.ar-pink {
  --color: pink;
  filter: brightness(100%) !important;
}

.neonBorderYellow,
.neonBorderGreen {
  @extend .gas;
  @extend .he-yellow;
}
.neonBorderPink {
  @extend .gas;
  @extend .ar-pink;
}

/* font-family */
$baseNeonFontFamily: "Bad Script", cursive;
$subNeonFontFamily: Sriracha;
$baseFormalFontFamily: "Exo 2", serif;

/* font-size */

/* base (mobile ver) */
$h1FontSizeForMobile: 2.5em;

/* 600up */
$h1FontSizeFor600up: 3em;
$h2FontSizeFor600up: 2em;
