$padding1024up: 0 40px;
$widthPercent1024up: 90%;
$marginBase1024up: 0 auto;
$maxWidth1024up: 1200px;
$cLightMode: #f7f6f2;

body.lightMode {
  background: $cLightMode;
  color: $cBase;
  // border: 2px solid $cBase;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

p,
label {
  font-size: 2em;
}

.cover {
  display: none;
  visibility: hidden;
}

.ml-header {
  min-height: 100px;

  &__wrapper {
    height: 100%;
    padding: $padding1024up;
    margin: 30px auto;
    max-width: $maxWidth1024up;
  }

  &__toggle-btn {
    display: none;
    visibility: hidden;
  }

  &__brand-logo {
    & > a {
      font-size: 1.7em;
    }
  }

  &__header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    max-width: 550px;
    width: 100%;
    height: 100%;
    /* temporary */
    // border: $borderBase;

    & .nav-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > li > a {
        display: block;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.15em;

        & > .fas {
          font-size: 2em;
        }
      }
    }
  }
}

.ml-header.lightMode {
  background: $cLightMode !important;
  color: $cBase !important;
}

.n-common::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5em;
  padding-bottom: 5px;
}

.n-common::after {
  font-family: $neonFontFamily;
  font-size: 1.2em;
}

.nav-first::before {
  content: "\f007";
}

.nav-second::before {
  content: "\f108";
}

.nav-third::before {
  content: "\f1d8";
}

.nav-forth::before {
  content: "\f15b";
}

.nav-first::after {
  content: "ABOUT ME";
}

.nav-second::after {
  content: "MY WORK";
}

.nav-third::after {
  content: "CONTACT";
}

.nav-forth::after {
  content: "RESUME";
}

.ml-main {
  &__wrapper {
    padding: $padding1024up;
    max-width: $maxWidth1024up;
  }

  &__title {
    & h1 {
      font-size: 5em;
    }
  }
}

.aboutMe {
  &__wrapper {
    padding: $padding1024up;
    max-width: $maxWidth1024up;
  }
}

.title-sub {
  & img {
    width: 350px;
    height: 350px;
  }

  & h2 {
    max-width: 500px;
  }
}

.myWork {
  &__wrapper {
    // test
    width: $widthPercent1024up;
    margin: $marginBase1024up;
    padding: $padding1024up;
    max-width: $maxWidth1024up;
  }
}

.contact {
  &__wrapper {
    width: $widthPercent1024up;
    margin: $marginBase1024up;
    padding: $padding1024up;
    max-width: $maxWidth1024up;
  }
}

.ml-footer {
  &__wrapper {
    padding: $padding1024up;
    max-width: $maxWidth1024up;
  }

  &__container {
    width: 80%;
    // margin: 0 auto;
  }
}

.ml-footer.lightMode {
  background: $cLightMode;
  color: $cBase;
}

.social-media-list {
  width: 75%;
}
