$padding768up: 0 35px;
$paddingBottom768up: 60px;
$maxWidth768up: 900px;

body {
  height: 100%;
}

p,
label {
  font-size: 2em;
}

h3 {
  font-size: 2.5em;
}

.common-wrapper {
  padding: $padding768up;
  max-width: $maxWidth768up;
}

.common-title-h1 {
  font-size: 4em;
}

.common-h2 {
  font-size: 3em;
}

.contents-list {
  & > li {
    font-size: 2.5em;
  }
}

.ml-header {
  min-height: 90px;

  &__brand-logo {
    & > a {
      padding: 4px 9px;
      font-size: 1.5em;
      border-radius: $borderRadiusBase;
    }
  }

  & .toggle-btn-container {
    & .bar {
      width: 45px;
      height: 5px;
      margin-bottom: 6px;
    }
  }
}

.ml-main {
  &__title {
    & h1 {
      font-size: 3.5em;
      padding-bottom: 0;
    }

    & h2 {
      width: 85%;
      font-size: 3em;
    }
  }
}

.slide-text,
.learnMore,
.skillSet > ul > li {
  font-size: 1.8em;
}

.aboutMe {
  &__title {
    padding-bottom: $paddingBottom768up;
  }

  &__discription {
    padding: 20px 0 $paddingBottom768up;
  }

  &__skills {
    padding-bottom: 80px;

    & .skill-list {
      padding: 40px;
    }

    & .skillSet {
      width: 95%;
    }
  }

  &__toLink {
    & .circle {
      width: 140px;
      height: 140px;
    }
  }
}

.title-sub {
  justify-content: center;

  & img {
    width: 350px;
    height: 350px;
  }

  & h2 {
    font-size: 2em;
    max-width: 305px;
  }
}

.work {
  flex-basis: 430px;
  margin-bottom: 80px;

  &__description {
    flex-basis: 400px;
    padding-bottom: $paddingBottom768up;
  }

  &__links {
    padding-bottom: $paddingBottom768up;
  }
}

.w-linkList .fa-link,
.fab,
.cover__header .fa-times {
  font-size: 3em;
}

.input-f,
.textarea-f {
  font-size: 2em;
  padding-left: 0.55em;
}

.input-f::placeholder,
.textarea-f::placeholder {
  font-size: 24px;
}

.submit__btn {
  width: 220px;
  height: 70px;
  font-size: 2em;
}

.social-media-list {
  margin: 10px auto;
}

/* anchor */
a.anchor {
  padding-top: 150px;
  margin-top: -150px;
}
