$padding768up: 0 35px;

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

p,
label {
  font-size: 2em;
}

a {
  //   font-size: 1.5em;
}

.cover-slide {
  &__contents {
    & .contents-list {
      & > li {
        font-size: 2.5em;
      }
    }
  }
}

.ml-header {
  min-height: 90px;

  &__wrapper {
    padding: $padding768up;
  }

  &__brand-logo {
    & > a {
      padding: 4px 9px;
      font-size: 1em;
      border-radius: $borderRadiusBase;
    }
  }

  &__toggle-btn {
    & .toggle-btn-container {
      & > .bar {
        width: 45px;
        height: 5px;
        margin-bottom: 6px;
      }
    }
  }
}

.ml-main {
  &__wrapper {
    padding: $padding768up;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h1 {
      font-size: 4em;
    }
  }
}

.swipe {
  flex-grow: 0.42;

  & .button-background {
    height: 140px;
  }

  & .button-background2 {
    height: 140px;
  }
}

.slide-text {
  font-size: 1.7em;
}

.aboutMe {
  &__wrapper {
    padding: $padding768up;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h3 {
      font-size: 1.8em;
    }

    & .skill-list {
      padding: 40px;
    }
  }

  &__toLink {
    & .circle {
      width: 140px;
      height: 140px;
    }
  }
}

.title-sub {
  flex-grow: 2;

  & img {
    width: 280px;
    height: 280px;
  }
}

.myWork {
  height: auto;
  //   height: 141vh;

  &__wrapper {
    padding: $padding768up;
  }

  &__contents {
    & .work {
      flex-basis: 430px;

      &__description {
        flex-basis: 350px;
      }
    }
  }
}

.contact {
  &__wrapper {
    padding: $padding768up;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    //
  }

  &__form {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & .contactMe {
      flex-grow: 2;
    }
  }
}

.contactMe__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > li:nth-child(1) {
    flex-grow: 2;
  }
}

.input-f,
.textarea-f {
  font-size: 2em;
  padding-left: 0.55em;
}

.input-f::placeholder,
textarea::placeholder {
  font-size: 24px;
}

.submit__btn {
  width: 220px;
  height: 70px;
  font-size: 2em;
}

.ml-footer {
  &__wrapper {
    // height: 140px;
    padding: $padding768up;
  }
}

.social-media-list {
  margin: 10px auto;
}

.cover__header {
  & .fa-times {
    font-size: 3em;
  }
}

.fab {
  font-size: 3em;
}

// #target4 {
//   padding-top: 65px;
// }
