$cBase: #231e1b;
$cText: #fff;
$cTest: #12e3e3;
$cGrey: #8d8d8d;
$cYellow: #ffff00;
$cPurple: #bf07db;
$slideBgColor: rgba(255, 255, 255, 0.3);
$slideBallColor: $cText;
$slideBallIconColor: $cBase;
$slideTextColor: $cGrey;
$h1FontSize: 2.5em;
$paddingBase: 0 15px;

$borderBase: 1.5px solid $cText;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  //   overflow: hidden;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Abhaya Libre", serif;
  background: $cBase;
  color: $cText;
  margin: 0;
  margin-top: 55px;
  letter-spacing: 0.5px;
  //   position: relative;
}

ul,
h1,
h2,
p {
  margin: 0;
}

ul,
button {
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  font-size: $h1FontSize;
}

a {
  text-decoration: none;
  color: inherit;
}

#global-container {
  height: 100%;
}

.cover {
  /* temporary */
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  // position: fixed;で画面全体を覆う
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.cover.visible {
  display: block;
  visibility: visible;
  opacity: 1;
}

.cover__header {
  height: 10vh;
  // border: $borderBase;

  & .fa-times {
    display: block;
    text-align: right;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    line-height: 10vh;
    @include animation(
      $name: kf-contents-appear,
      $duration: 5s,
      $timing-function: ease-in-out,
      $fill-mode: forwards
    );
  }
}

@keyframes kf-contents-appear {
  0% {
    opacity: 0;
  }
  50.1% {
    // visibility: visible;
    opacity: 1;
  }
  100% {
    // visibility: visible;
    opacity: 1;
  }
}

.cover-slide {
  position: relative;
  height: 100vh;
  background: $cBase;

  &::after {
    content: "";
    background: $cPurple;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    @include animation($name: kf-cover-slide, $duration: 1.2s);
  }

  &__contents {
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.inview {
      opacity: 1;
      @include animation(
        $name: kf-contents-show,
        $duration: 1s,
        $timing-function: ease-in-out,
        $fill-mode: forwards
      );
    }

    & .contents-list {
      flex-grow: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      & > li {
        font-size: 1.7em;

        & > a > span {
          padding-left: 10px;
        }
      }
    }

    & .social-media-list {
      width: 70%;
      flex-grow: 1.2;
      align-items: flex-start;
    }
  }

  &.inview {
    &::after {
      @include animation(
        $name: kf-cover-slide,
        $duration: 1.2s,
        $timing-function: ease-out
      );
    }
  }
}

@keyframes kf-cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes kf-contents-show {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50.1% {
    opacity: 1;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header section */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  //   min-height: 60px;
  z-index: 2;
}

.ml-header {
  background: $cGrey;
  min-height: 55px;
  display: flex;
  justify-self: center;
  align-items: center;

  &__wrapper {
    width: 100%;
    // max-width: 100%;
    padding: $paddingBase;
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__brand-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > a {
      border: $borderBase;

      & > span {
        display: inline-block;
        padding: 4px 8px;
      }
    }
  }

  &__toggle-btn {
    & .toggle-btn-container {
      /* reset style for button */
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .bar {
        display: block;
        background-color: $cText;
        width: 25px;
        height: 2px;
        margin-bottom: 4px;
      }

      & .bar:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* main section */
.ml-main {
  height: 88vh;

  &__wrapper {
    width: 100%;
    height: 100%;
    padding: $paddingBase;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    flex-grow: 0.3;

    & > h1 {
      font-size: 2.5em;
    }

    & > h2 {
      color: $cGrey;
    }
  }

  &__description {
    margin: 0 auto;
    height: 20vh;
    // background: $cTest;
    border: $borderBase;
    border-radius: 12px;

    & > p {
      text-align: left;
      font-size: 1em;
    }
  }
}

.swipe {
  flex-grow: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__btn {
    @include center;
    margin-top: 25px;
    align-items: flex-start;
  }

  &__btn.link-to-aboutMe {
    flex-grow: 1;
  }

  &__btn.link-to-myWork {
    flex-grow: 2;
  }

  & #button-background,
  & #button-background2 {
    position: relative;
    background: inherit;
    width: 200px;
    height: 50px;
    border: $borderBase;
    border-radius: 25px;
    @include center;

    & #slider,
    & #slider2 {
      visibility: hidden;
      transition: width 0.3s, border-radius 0.3s, height 0.3s;
      position: absolute;
      left: -10px;
      //   background: $slideBallColor;
      width: 50px;
      height: 50px;
      border: $borderBase;
      border-radius: 50%;
      @include center;

      &.unlocked {
        transition: all 0.3s;
        width: inherit;
        left: 0 !important;
        height: inherit;
        border-radius: inherit;
      }
    }
  }
}

#button-background {
  border-color: $cPurple !important;

  & #slider {
    border-color: $cPurple !important;
  }
}

.swipe #button-background2 {
  width: 300px;
  height: 100px;
  border-radius: 60px;
  border-color: $cYellow !important;

  & #slider2 {
    border-color: $cYellow !important;
    height: 100px;
    width: 100px;
  }
}

.material-icons {
  color: $slideBallIconColor;
  font-size: 50px;
  @include nonSelect;
}

.slide-text {
  color: $slideTextColor;
  font-size: 24px;
  text-transform: uppercase;
  @include nonSelect;
}

/* contact form */
.contact {
  &__wrapper {
    width: 100%;
    padding: $paddingBase;
  }
}

.contactMe {
  &__list {
    display: block;

    & > li {
      display: flex;
      flex-direction: column;
    }
  }
}

/* footer section */
.ml-footer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  background: $cBase;
  @include animation(
    $name: sc-slideIn,
    $duration: 0.15s,
    $timing-function: ease-out,
    $fill-mode: both
  );

  &__wrapper {
    // width: 100%;
    height: 90px;
    padding: $paddingBase;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__container {
    height: 60%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    border: solid 1.5px $cGrey;
    border-radius: 30px;
  }
}

.ml-footer.scrollDone {
  @include animation(
    $name: sc-slideOut,
    $duration: 0.15s,
    $timing-function: ease-out,
    $fill-mode: both
  );
}

@keyframes sc-slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes sc-slideOut {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.social-media-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & > li > a {
    display: block;
  }
}
