$cBase: #231e1b;
$cText: #fff;
$cTest: #12e3e3;
$cGrey: #8d8d8d;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Abhaya Libre", serif;
  background: $cBase;
  color: $cText;
  margin: 0;
  letter-spacing: 0.5px;
}

h1,
h2 {
  margin: 0;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#global-container {
  height: 100%;
}

.ml-header {
  min-height: 64px;
  background: inherit;
  display: flex;
  justify-self: center;
  align-items: center;

  &__wrapper {
    width: 100%;
    // max-width: 100%;
    padding: 0 15px;
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__brand-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > a {
      border: 1px solid $cText;

      & > span {
        display: inline-block;
        padding: 4px 8px;
      }
    }
  }

  &__toggle-btn {
    & .toggle-btn-container {
      /* reset style for button */
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .bar {
        display: block;
        background-color: $cText;
        width: 25px;
        height: 2px;
        margin-bottom: 4px;
      }

      & .bar:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* main section */
.ml-main {
  &__wrapper {
    width: 100%;
    padding: 0 15px;
    margin-top: 15px;
  }

  &__title {
    & > h1 {
      font-size: 2.5em;
    }

    & > h2 {
      color: $cGrey;
    }
  }

  &__description {
    height: 20vh;
    // background: $cTest;
    border: solid 1px $cText;
    border-radius: 12px;
  }
}

.ml-footer {
  height: 50px;
  background: inherit;
  border: 1px solid $cText;
}
