$padding1024up: 0 40px;
$widthPercent1024up: 90%;
$marginBase1024up: 0 auto;
$maxWidth1024up: 1200px;
$cLightMode: #eee1ac;

h2 {
  font-size: 3em;
}

p,
label {
  font-size: 2em;
}

.common-wrapper {
  padding: $padding1024up;
  max-width: $maxWidth1024up;
}

.cover {
  display: none;
  visibility: hidden;
}

.ml-header {
  min-height: 100px;

  &__wrapper {
    height: 100%;
    margin: 30px auto;
  }

  &__toggle-btn {
    display: none;
  }

  &__brand-logo > a {
    font-size: 1.7em;
  }

  &__header-nav {
    display: block;
    max-width: 550px;
    width: 100%;
    height: 100%;
  }
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > li > a {
    display: block;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.15em;

    & > .fas {
      font-size: 2em;
    }
  }
}

.n-common::before {
  font-family: $fontAwesomeFree;
  font-weight: 900;
  font-size: 1.5em;
  padding-bottom: 5px;
}

.n-common::after {
  font-family: $neonFontFamily;
  font-size: 1.2em;
}

.nav-first::before {
  content: "\f007";
}

.nav-second::before {
  content: "\f108";
}

.nav-third::before {
  content: "\f1d8";
}

.nav-forth::before {
  content: "\f15b";
}

.nav-first::after {
  content: "ABOUT ME";
}

.nav-second::after {
  content: "MY WORK";
}

.nav-third::after {
  content: "CONTACT";
}

.nav-forth::after {
  content: "RESUME";
}

.ml-main {
  &__title {
    padding-bottom: 120px;

    & h1 {
      font-size: 4.6em;
    }

    & h2 {
      font-size: 3.5em;
    }
  }
}

.title-sub {
  & img {
    width: 350px;
    height: 350px;
  }

  & h2 {
    max-width: 500px;
  }
}

.myWork {
  &__wrapper {
    width: $widthPercent1024up;
    margin: $marginBase1024up;
  }
}

.contact {
  &__wrapper {
    width: $widthPercent1024up;
    margin: $marginBase1024up;
  }
}

.social-media-list {
  width: 75%;
}
