// $padding1024up: 0 $basePadding;
// $widthPercent1024up: 80%;
$marginBase1024up: 0 auto;
$maxWidth1024up: 1100px;
$cLightMode: #eee1ac;

p,
label {
  font-size: $labelFontSizeFor1024up;
  line-height: $baseLineHeight;
}

.common-wrapper {
  padding: $padding1024up;
  max-width: $maxWidth1024up;
}

.cover {
  display: none;
  visibility: hidden;
}

.ml-header {
  min-height: 80px;

  &__wrapper {
    height: 100%;
    margin: 10px auto;
  }

  &__toggle-btn {
    display: none;
  }

  &__brand-logo > a {
    font-size: 1.2em;
  }

  &__header-nav {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: 100%;
  }
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > li > a {
    display: block;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.15em;
  }
}

.n-common::before {
  // font-family: $fontAwesomeFree;
  // font-weight: 900;
  // font-size: 1.2em;
  // padding-bottom: 5px;
}

.n-common::after {
  font-family: $neonFontFamily;
  font-size: 1em;
}

.nav-first::before {
  // content: "\f007";
}

.nav-second::before {
  // content: "\f108";
}

.nav-third::before {
  // content: "\f1d8";
}

.nav-forth::before {
  // content: "\f15b";
}

.nav-first::after {
  content: "ABOUT ME";
}

.nav-second::after {
  content: "MY WORK";
}

.nav-third::after {
  content: "CONTACT";
}

.nav-forth::after {
  content: "RESUME";
}

.ml-main {
  &__wrapper {
    align-items: flex-start;
  }

  &__title {
    padding-bottom: $basePadding;
    padding-top: $baseVerySmallPadding;

    & h1 {
      width: 40%;
      max-width: 480px;
      font-size: 2.5em;
    }

    & h2 {
      width: 45%;
      max-width: 420px;
      font-size: $h2FontSizeFor1024up;
    }
  }
}

.swipe {
  padding-bottom: $swipePadding1024up;
}

.slide-text {
  font-size: 1em;
}

.aboutMe__discription {
  & h2 {
    font-size: $h2FontSizeFor1024up;
  }
}

.title-sub {
  & h2 {
    max-width: 500px;
  }
}

.contactMe__list > li {
  padding-bottom: $baseLargePadding;
}

.work-h2 {
  padding-bottom: $basePadding;
}

.social-media {
  & .social-media-list {
    width: 40%;
  }
}

.aboutMe__wrapper,
.myWork__wrapper,
.contact__wrapper {
  max-width: 820px;
}

// .social-media-list {
//   width: 75%;
// }
