$padding1440up: 0 50px;
$maxWidth1440up: 1500px;

.common-wrapper {
  padding: $padding1440up;
  max-width: $maxWidth1440up;
}

.ml-header {
  &__header-nav {
    max-width: 600px;
  }
}

.ml-main {
  &__title {
    & h1 {
      font-size: 2.8em;
      padding-bottom: 0;
    }

    & h2 {
      width: 40%;
      font-size: 2.5em;
    }
  }
}
