$padding1440up: 0 50px;
$maxWidth1440up: 1500px;
$widthPercent1440up: 85%;

.common-wrapper {
  padding: $padding1440up;
  max-width: $maxWidth1440up;
}

.ml-header {
  &__header-nav {
    max-width: 500px;
  }
}

.ml-main {
  &__title {
    padding-top: 40px;
    padding-bottom: 40px;

    & h1 {
      width: 40%;
      font-size: 2.5em;
      padding-bottom: 0;
    }

    & h2 {
      width: 35%;
      font-size: 2em;
    }
  }
}

.swipe {
  padding-bottom: 120px;

  & .button-background2 {
    font-size: 1em;
  }
}

.ml-header__wrapper,
.ml-main__wrapper {
  width: 90%;
}

.aboutMe__wrapper,
.myWork__wrapper,
.contact__wrapper {
  width: $widthPercent1440up;
}
