// $padding600up: 0 30px;
$maxWidthBase600up: 600px;

body {
  height: 100%;
}

p {
  font-size: 1.5em;
}

h1 {
  font-size: $h1FontSizeFor600up;
}

h2 {
  font-size: $h2FontSizeFor600up;
}

h3 {
  font-size: 1.5em;
}

.common-wrapper {
  padding: $padding600up;
  max-width: $maxWidthBase600up;
}

.ml-main {
  &__title {
    padding-bottom: $basePadding600up;

    & h1 {
      width: 50%;
      font-size: 2em;
      padding-bottom: 0;
    }

    & h2 {
      width: 80%;
      margin-right: auto;
    }
  }
}

.swipe {
  padding-bottom: $basePadding600up;
}

.aboutMe {
  &__skills {
    & h3 {
      padding-bottom: $baseSmallPadding600up;
    }

    & .skill-list {
      padding: $baseSmallPadding600up;
    }
  }
}

.title-sub {
  & img {
    width: 250px;
    height: 250px;
  }
}

.myWork {
  padding-bottom: 90px;
}

.work {
  &__links {
    width: 50%;
  }
}
