$maxWidthBase600up: 600px;

body {
  height: 100%;
}

p {
  font-size: 1.5em;
}

h1 {
  font-size: $h1FontSizeFor600up;
}

h2 {
  font-size: $h2FontSizeFor600up;
}

h3 {
  font-size: 1.5em;
}

.common-wrapper {
  padding: $padding600up;
  max-width: $maxWidthBase600up;
}

.ml-main {
  &__title {
    padding-bottom: $basePadding600up;

    & h1 {
      width: 50%;
      font-size: 2em;
      padding-bottom: 0;
    }

    // & h2 {
    //   width: 70%;
    //   margin-right: $baseMarginAuto;
    // }
  }
}

.swipe {
  padding-bottom: $basePadding600up;
}

.aboutMe {
  &__skills {
    & h3 {
      padding-bottom: $basePadding;
    }

    & .skill-list {
      padding: $baseSmallPadding600up;
    }
  }
}

.myWork {
  padding-bottom: $baseDivPadding;
}

.work__links {
  width: 70%;
}

.w-linkList > li:nth-child(2) {
  padding-left: 20px;
}
