// $paddingBottom768up: 60px;
$maxWidth768up: 900px;

body {
  height: 100%;
}

p,
label {
  font-size: $labelFontSizeFor768up;
  padding-bottom: $labelPadding768up;
  line-height: $baseLineHeight;
}

h1 {
  font-size: $h1FontSizeFor768up;
}

h2 {
  font-size: $h2FontSizeFor768up;
}

h3 {
  font-size: $h3FontSizeFor768up;
}

.common-wrapper {
  padding: $padding768up;
  max-width: $maxWidth768up;
}

.contents-list {
  & > li {
    font-size: $coverFontSize768up;
  }
}

.ml-header {
  min-height: 70px;

  &__brand-logo {
    & > a {
      padding: 4px 9px;
      font-size: 1em;
      border-radius: $borderRadiusBase;
    }
  }

  & .toggle-btn-container {
    & .bar {
      width: 40px;
      height: 4px;
      margin-bottom: $hamburgerMenuMargin768up;
    }
  }
}

.ml-main {
  &__title {
    width: 100%;
    padding-bottom: $basePadding768up;

    & h1 {
      width: 70%;
      font-size: 3em;
      padding-bottom: 0;

      & span {
        font-size: 2em;
      }
    }

    & h2 {
      width: 55%;
      font-size: 2em;
    }
  }
}

.slide-text {
  font-size: 1.2em;
}

.learnMore,
.skillSet > ul > li {
  font-size: 1.2em;
}

.aboutMe {
  &__title {
    padding-bottom: $paddingBottom768up;
  }

  &__discription > p {
    font-size: 1.2em;
  }

  &__skills {
    padding-bottom: $basePadding768up;

    & .skill-list {
      padding: $basePadding;
    }

    & .skillSet {
      width: 95%;
    }
  }

  &__toLink {
    & .circle {
      width: 140px;
      height: 140px;
    }
  }
}

.title-sub {
  justify-content: center;

  & h2 {
    font-size: 2em;
    max-width: 305px;
  }
}

.work {
  flex-basis: 430px;
  margin-bottom: $basePadding768up;

  &__description {
    flex-basis: 400px;
    padding-bottom: $paddingBottom768up;
  }

  &__links {
    padding-bottom: $paddingBottom768up;
  }
}

.aboutMe__wrapper,
.myWork__contents,
.contact__form {
  width: 80%;
  margin: $baseCenteredMargin;
  max-width: 615px;
}

.w-linkList .fa-link,
.fab,
.cover__header .fa-times {
  font-size: 2em;
}

.input-f,
.textarea-f {
  font-size: 2em;
  padding-left: 0.55em;
}

.input-f::placeholder,
.textarea-f::placeholder {
  font-size: 24px;
}

.contactMe__list > li {
  padding-bottom: $baseLargePadding;
}

.submit__btn {
  width: 220px;
  height: 70px;
  font-size: 2em;
}

/* anchor */
a.anchor {
  padding-top: $anchorPadding768up;
}
