@charset "UTF-8";
/* variables */
/* padding */
/* base */
/* 600up */
/* 768up */
/* 1024up */
/* 1440up */
/* margin */
/* base */
/* 768up */
/* overflow-wrap */
/* line-height */
/* max-width */
/* color */
.x-sign, .neonColorYellow, .neonColorPink, .neonColorGreen, .neonColorBlue {
  --interval: 1s;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  -webkit-filter: saturate(60%);
          filter: saturate(60%);
  -webkit-animation: flicker steps(100) var(--interval) 1s infinite;
          animation: flicker steps(100) var(--interval) 1s infinite;
}

.x-sign2, .neonColorPink {
  color: pink;
  --color1: pink;
  --color2: orangered;
  --color3: red;
  --color4: magenta;
}

.x-sign3, .neonColorGreen {
  color: lightyellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: mediumblue;
}

.x-sign9, .neonColorYellow {
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;
}

.x-sign5, .neonColorBlue {
  color: azure;
  --color1: azure;
  --color2: aqua;
  --color3: dodgerblue;
  --color4: blue;
}

/* background-color */
/* border */
/* border-radius */
/* border-color */
.gas, .neonBorderYellow,
.neonBorderGreen, .neonBorderPink {
  --blur: 1rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 12rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  border: 2px solid currentColor;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 var(--box-blur) var(--glow), 0 0 var(--box-blur) var(--glow);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 var(--box-blur) var(--glow), 0 0 var(--box-blur) var(--glow);
  color: var(--color, white);
}

.he-yellow, .neonBorderYellow,
.neonBorderGreen {
  --color: lightYellow;
  -webkit-filter: saturate(120%) !important;
          filter: saturate(120%) !important;
}

.ar-pink, .neonBorderPink {
  --color: pink;
  -webkit-filter: brightness(100%) !important;
          filter: brightness(100%) !important;
}

/* font-family */
/* font-size */
/* base (mobile ver) */
/* 600up */
/* 768up */
/* 1024up */
/* neon color */
.gas, .neonBorderYellow,
.neonBorderGreen, .neonBorderPink {
  --blur: 1rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 12rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  border: 2px solid currentColor;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 var(--box-blur) var(--glow), 0 0 var(--box-blur) var(--glow);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 var(--box-blur) var(--glow), 0 0 var(--box-blur) var(--glow);
  color: var(--color, white);
}

.gas.he, .he.neonBorderYellow,
.he.neonBorderGreen, .he.neonBorderPink {
  --color: #f3d574;
  -webkit-filter: saturate(120%);
          filter: saturate(120%);
}

.gas.ne, .ne.neonBorderYellow,
.ne.neonBorderGreen, .ne.neonBorderPink {
  --color: #fda802;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.gas.ar, .ar.neonBorderYellow,
.ar.neonBorderGreen, .ar.neonBorderPink {
  --color: pink;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.gas.xe, .xe.neonBorderYellow,
.xe.neonBorderGreen, .xe.neonBorderPink {
  --color: #c4c4c6;
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

:focus {
  outline: none;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: -webkit-fill-available;
  font-family: "Exo 2", serif;
  background: #120e0c;
  color: #dee6ff;
  margin: 0;
  letter-spacing: 0.5px;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
}

ul,
button {
  padding: 0;
}

input,
textarea {
  padding: 0;
  border: 0;
}

label {
  font-family: "Exo 2", serif;
  color: #dee6ff;
  padding: 0px 0px 5px 5px;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5em;
}

p {
  font-family: "Bad Script", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.common-wrapper {
  padding: 0 15px;
  max-width: 410px;
}

.differentBg {
  background: #1a0f0a;
}

/* BackTop button section */
#backTopBtn {
  /* hide on mobile ver */
  display: none;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 14.2%;
  right: 10%;
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  background: #231e1b;
  cursor: pointer;
}

#backTopBtn.startShow {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

#backTopBtn > a {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  text-decoration: none;
  text-align: center;
}

#backTopBtn > a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f102";
  color: #bf07db;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  bottom: 0;
  right: 0;
  left: 0px;
  margin: auto;
  text-align: center;
}

#backTopBtn > a::after {
  content: "TOP";
  font-family: "Bad Script", cursive;
  position: absolute;
  top: 35px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #bf07db;
}

#backTopBtn.startShow {
  opacity: 0.9;
}

#toTop {
  display: block;
  font-family: "Bad Script", cursive;
}

.social-media-list {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-list > li > a {
  display: block;
}

/* anchor */
a.anchor {
  display: block;
  padding-top: 70px;
}

/* cover section */
.cover {
  /* temporary */
  display: none;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.cover.visible {
  display: block;
  opacity: 1;
}

.cover__header {
  height: 10vh;
}

.cover__header .common-wrapper {
  margin: 0 auto;
}

.cover__header .fa-times {
  display: block;
  text-align: right;
  line-height: 10vh;
  cursor: pointer;
  -webkit-animation-name: kf-contents-appear;
          animation-name: kf-contents-appear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-contents-appear {
  0% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-contents-appear {
  0% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.cover-slide {
  position: relative;
  height: 100vh;
  background: #120e0c;
}

.cover-slide::after {
  content: "";
  background: #8d8d8d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.cover-slide__contents {
  height: 100%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover-slide__contents.inview {
  opacity: 1;
  -webkit-animation-name: kf-contents-show;
          animation-name: kf-contents-show;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cover-slide__contents .social-media-list {
  width: 55%;
  -webkit-box-flex: 1.2;
      -ms-flex-positive: 1.2;
          flex-grow: 1.2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #120e0c;
}

.cover-slide.inview::after {
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.contents-list {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents-list > li {
  font-size: 1.2em;
  font-family: "Bad Script", cursive;
}

.contents-list > li > a > span {
  padding-left: 10px;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes kf-cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@-webkit-keyframes kf-contents-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50.1% {
    opacity: 1;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-contents-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50.1% {
    opacity: 1;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* header section */
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.ml-header {
  min-height: 55px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ml-header.visible2 {
  background: inherit;
}

.ml-header__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 5px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ml-header__brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: inherit;
}

.ml-header__brand-logo > a {
  border: 2px solid #fff;
  border-radius: 8px;
}

.ml-header .logoName {
  display: inline-block;
  padding: 4px 8px;
}

.ml-header .toggle-btn-container {
  /* reset style for button */
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ml-header .toggle-btn-container .bar {
  display: block;
  background-color: #dee6ff;
  width: 28px;
  height: 3px;
  margin-bottom: 4px;
}

.ml-header .toggle-btn-container .bar:last-child {
  margin-bottom: 0;
}

.ml-header__header-nav {
  display: none;
}

/* main section */
.ml-main {
  margin-bottom: 90px;
  color: #dee6ff;
}

.ml-main__wrapper {
  width: 100%;
  min-height: 100vh;
  max-width: 410px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ml-main__title {
  padding-bottom: 80px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.ml-main__title > h1 {
  width: 80%;
  margin: 0 auto;
  font-size: 2em;
  font-family: "Exo 2", serif;
  padding-bottom: 20px;
  letter-spacing: -1px;
}

.ml-main__title > h1 span {
  font-size: 2em;
  font-family: "Bad Script", cursive;
  display: inline-block;
  letter-spacing: -6px;
}

.ml-main__title > h2 {
  font-family: "Exo 2", serif;
  letter-spacing: -1px;
  line-height: 2em;
}

.ml-main__title > h2 span {
  font-family: Sriracha;
}

.ml-main__description {
  -webkit-box-flex: 0.4;
      -ms-flex-positive: 0.4;
          flex-grow: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.ml-main__description p {
  font-family: "Exo 2", serif;
}

.ml-main__description.non {
  border: none;
  --color: none;
}

.swipe {
  padding-bottom: 40px;
}

.swipe .button-background2 {
  padding: 8px 30px;
  font-size: 0.8em;
  border-radius: 12px;
  font-family: "Bad Script", cursive;
  text-transform: uppercase;
  text-align: left;
}

/* about me section */
.aboutMe {
  height: auto;
  padding-bottom: 90px;
}

.aboutMe__wrapper {
  height: 100%;
  max-width: 410px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutMe__title {
  padding-bottom: 40px;
}

.aboutMe__title h1 {
  font-family: "Bad Script", cursive;
  text-align: center;
  padding-bottom: 40px;
  letter-spacing: -3px;
}

.aboutMe__discription {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0 80px;
  font-family: "Exo 2", serif;
  text-align: left;
  border: none;
  --color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 3em;
  overflow-wrap: break-word;
}

.aboutMe__discription h2,
.aboutMe__discription p {
  padding-bottom: 40px;
  font-family: "Exo 2", serif;
  letter-spacing: -1px;
}

.aboutMe__discription h2 {
  font-family: Sriracha;
  text-align: center;
}

.aboutMe__discription p {
  font-size: 1.1em;
  letter-spacing: normal;
}

.aboutMe__discription span {
  display: inline-block;
}

.aboutMe__skills {
  padding-bottom: 80px;
  text-align: center;
  border: none;
}

.aboutMe__skills h3 {
  padding-bottom: 40px;
}

.aboutMe__skills h2 {
  font-family: "Bad Script", cursive;
}

.aboutMe__skills .skill-list {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.aboutMe__skills .skillSet {
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
  overflow-wrap: break-word;
}

.aboutMe__skills .skillSet ul {
  padding-bottom: 80px;
}

.aboutMe__skills .skillSet ul h3 {
  padding-bottom: 20px;
}

.aboutMe__skills .skillSet ul > li {
  display: inline-block;
  padding: 6px 4px;
  border: 2px solid #fff;
  border-radius: 8px;
  font-family: Sriracha;
}

.aboutMe .swipe.about-sec {
  display: none;
}

.title-sub {
  color: #ffff00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-sub img {
  display: inline-block;
  width: 90%;
  height: auto;
  border-radius: 12px;
}

/* myWork section */
.myWork {
  height: auto;
  padding-bottom: 90px;
}

.myWork__title {
  margin-bottom: 5px;
}

.myWork__title h1 {
  font-family: "Bad Script", cursive;
  text-align: center;
  padding-bottom: 40px;
}

.myWork__wrapper {
  width: 80%;
  height: 100%;
  max-width: 410px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.myWork__contents {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.work {
  height: 100%;
  margin-bottom: 80px;
}

.work__image {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.work__image > img {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  border-radius: 12px;
}

.work__description {
  text-align: center;
  padding-bottom: 40px;
}

.work__links {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__links .w-linkList {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #120e0c;
  margin-left: 20px;
}

.workTitle {
  font-family: Sriracha;
}

.work-h2 {
  padding-bottom: 40px;
}

.work__description > p {
  width: 90%;
  margin: 0 auto;
  font-family: Sriracha;
}

.learnMore {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 8px;
  font-family: Sriracha;
}

.fa-link {
  padding-left: 15px;
}

.w-linkList > li:nth-child(2) {
  display: inline-block;
  padding-left: 5px;
}

/* contact form section */
.contact {
  padding-bottom: 160px;
}

.contact__wrapper {
  width: 100%;
  height: 85%;
  max-width: 410px;
  margin: 0 auto;
}

.contact__title h1 {
  font-family: "Bad Script", cursive;
  text-align: center;
  padding-bottom: 40px;
}

.contact__form {
  padding-bottom: 40px;
}

.contactMe {
  font-size: 1.4em;
}

.contactMe__list {
  display: block;
}

.contactMe__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}

.input-f,
.textarea-f {
  font-size: 1.4em;
  background: inherit;
  position: relative;
  padding-left: 0.6em;
  border-radius: 8px;
}

/* 補足 */
.input-f.gas.ar, .input-f.ar.neonBorderYellow,
.input-f.ar.neonBorderGreen, .input-f.ar.neonBorderPink {
  border-color: pink;
}

.input-f::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  position: absolute;
  top: 0.2em;
  left: 1em;
  padding-bottom: 0.1em;
}

.input-f:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 16px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  position: absolute;
  top: 0.2em;
  left: 1em;
  padding-bottom: 0.1em;
}

.input-f::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 16px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  position: absolute;
  top: 0.2em;
  left: 1em;
  padding-bottom: 0.1em;
}

.input-f::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  position: absolute;
  top: 0.2em;
  left: 1em;
  padding-bottom: 0.1em;
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 40px;
}

.submit__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 12px;
  border-color: pink;
  font-size: 1.5em;
  text-align: center;
  font-family: "Bad Script", cursive;
}

.social-media {
  width: 100%;
}

.social-media .social-media-list {
  width: 50%;
  margin: 0 auto;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* neon colors */
.x-sign, .neonColorYellow, .neonColorPink, .neonColorGreen, .neonColorBlue {
  --interval: 1s;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4);
  will-change: filter, color;
  -webkit-filter: saturate(60%);
          filter: saturate(60%);
  -webkit-animation: flicker steps(100) var(--interval) 1s infinite;
          animation: flicker steps(100) var(--interval) 1s infinite;
}

.x-sign2, .neonColorPink {
  color: pink;
  --color1: pink;
  --color2: orangered;
  --color3: red;
  --color4: magenta;
}

.x-sign3, .neonColorGreen {
  color: lightyellow;
  --color1: yellow;
  --color2: lime;
  --color3: green;
  --color4: mediumblue;
}

.x-sign9, .neonColorYellow {
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;
}

body.lightMode {
  background: #b50f0f;
  color: #231e1b;
}

#global-container.lightMode {
  background: #b50f0f;
  color: #231e1b;
}

.ml-header.lightMode {
  background: #b50f0f;
  color: #231e1b;
}

.differentBg.lightMode {
  background: #b50f0f;
}

@media screen and (min-width: 600px) {
  body {
    height: 100%;
  }
  p {
    font-size: 1.5em;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  .common-wrapper {
    padding: 0 30px;
    max-width: 600px;
  }
  .ml-main__title h1 {
    width: 50%;
    font-size: 2em;
    padding-bottom: 0;
  }
  .swipe {
    padding-bottom: 70px;
  }
  .swipe .button-background2 {
    padding: 8px 40px;
  }
  .aboutMe__skills h3 {
    padding-bottom: 40px;
  }
  .aboutMe__skills .skill-list {
    padding: 30px;
  }
  .myWork {
    padding-bottom: 90px;
  }
  .work__links {
    width: 70%;
  }
  .w-linkList > li:nth-child(2) {
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  body {
    height: 100%;
  }
  p,
  label {
    font-size: 1.2em;
    padding-bottom: 10px;
    line-height: 3em;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.5em;
  }
  .common-wrapper {
    padding: 0 35px;
    max-width: 900px;
  }
  .contents-list > li {
    font-size: 1.5em;
  }
  .ml-header {
    min-height: 70px;
  }
  .ml-header__brand-logo > a {
    padding: 4px 9px;
    font-size: 1em;
    border-radius: 12px;
  }
  .ml-header .toggle-btn-container .bar {
    width: 40px;
    height: 4px;
    margin-bottom: 6px;
  }
  .ml-main__title {
    width: 100%;
  }
  .ml-main__title h1 {
    width: 48%;
    max-width: 520px;
    font-size: 3em;
    padding-bottom: 0;
  }
  .ml-main__title h1 span {
    font-size: 1.8em;
  }
  .ml-main__title h2 {
    font-size: 2em;
  }
  .slide-text {
    font-size: 1.2em;
  }
  .learnMore,
  .skillSet > ul > li {
    font-size: 1.2em;
  }
  .aboutMe__title {
    padding-bottom: 60px;
  }
  .aboutMe__skills {
    padding-bottom: 90px;
  }
  .aboutMe__skills .skill-list {
    padding: 40px;
  }
  .aboutMe__skills .skillSet {
    width: 95%;
  }
  .aboutMe__toLink .circle {
    width: 140px;
    height: 140px;
  }
  .title-sub {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title-sub h2 {
    font-size: 2em;
    max-width: 305px;
  }
  .work {
    -ms-flex-preferred-size: 430px;
        flex-basis: 430px;
    margin-bottom: 90px;
  }
  .work__description {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
    padding-bottom: 60px;
  }
  .work__links {
    width: 60%;
    padding-bottom: 60px;
  }
  .aboutMe__wrapper,
  .myWork__wrapper,
  .contact__wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 615px;
  }
  .w-linkList .fa-link,
  .fab,
  .cover__header .fa-times {
    font-size: 2em;
  }
  .input-f,
  .textarea-f {
    font-size: 2em;
    padding-left: 0.55em;
  }
  .input-f::-webkit-input-placeholder,
  .textarea-f::-webkit-input-placeholder {
    font-size: 24px;
  }
  .input-f:-ms-input-placeholder,
  .textarea-f:-ms-input-placeholder {
    font-size: 24px;
  }
  .input-f::-ms-input-placeholder,
  .textarea-f::-ms-input-placeholder {
    font-size: 24px;
  }
  .input-f::placeholder,
  .textarea-f::placeholder {
    font-size: 24px;
  }
  .contactMe__list > li {
    padding-bottom: 80px;
  }
  .submit__btn {
    width: 220px;
    height: 70px;
    font-size: 2em;
  }
  /* anchor */
  a.anchor {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1023px) {
  p,
  label {
    font-size: 1.5em;
    line-height: 3em;
  }
  .common-wrapper {
    padding: 0 40px;
    max-width: 1100px;
  }
  .cover {
    display: none;
    visibility: hidden;
  }
  .ml-header {
    min-height: 80px;
  }
  .ml-header__wrapper {
    height: 100%;
    margin: 10px auto;
  }
  .ml-header__toggle-btn {
    display: none;
  }
  .ml-header__brand-logo > a {
    font-size: 1.2em;
  }
  .ml-header__header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
    width: 100%;
    height: 100%;
  }
  .nav-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list > li > a {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 1.15em;
  }
  .n-common::after {
    font-family: "Bad Script", cursive;
    font-size: 1em;
  }
  .nav-first::after {
    content: "ABOUT ME";
  }
  .nav-second::after {
    content: "MY WORK";
  }
  .nav-third::after {
    content: "CONTACT";
  }
  .nav-forth::after {
    content: "RESUME";
  }
  .ml-main__wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ml-main__title {
    padding-bottom: 40px;
    padding-top: 10px;
  }
  .ml-main__title h1 {
    width: 40%;
    max-width: 480px;
    font-size: 2.5em;
  }
  .ml-main__title h2 {
    font-size: 2em;
  }
  .swipe {
    padding-bottom: 120px;
  }
  .slide-text {
    font-size: 1em;
  }
  .aboutMe__discription h2 {
    font-size: 2em;
  }
  .title-sub h2 {
    max-width: 500px;
  }
  .contactMe__list > li {
    padding-bottom: 80px;
  }
  .work-h2 {
    padding-bottom: 40px;
  }
  .social-media .social-media-list {
    width: 40%;
  }
  .aboutMe__wrapper,
  .myWork__wrapper,
  .contact__wrapper {
    max-width: 820px;
  }
  .work__links {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .common-wrapper {
    padding: 0 50px;
    max-width: 1500px;
  }
  .ml-header__header-nav {
    max-width: 500px;
  }
  .ml-main__title {
    padding: 40px 0;
  }
  .ml-main__title h1 {
    width: 30%;
    max-width: 359px;
    font-size: 2.5em;
    padding-bottom: 0;
  }
  .ml-main__title h2 {
    font-size: 2em;
  }
  .title-sub > img {
    width: 50%;
  }
  .swipe .button-background2 {
    font-size: 1em;
  }
  .ml-header__wrapper,
  .ml-main__wrapper {
    width: 90%;
  }
  .aboutMe__wrapper,
  .contact__wrapper {
    width: 70%;
    max-width: 1125px;
  }
  .myWork__wrapper {
    width: 50%;
    max-width: 741px;
  }
}
/*# sourceMappingURL=style.css.map */