* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Abhaya Libre", serif;
  background: #231e1b;
  color: #fff;
  margin: 0;
  letter-spacing: 0.5px;
}

h1,
h2 {
  margin: 0;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#global-container {
  height: 100%;
}

.ml-header {
  min-height: 60px;
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ml-header__wrapper {
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ml-header__brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ml-header__brand-logo > a {
  border: 1px solid #fff;
}

.ml-header__brand-logo > a > span {
  display: inline-block;
  padding: 4px 8px;
}

.ml-header__toggle-btn .toggle-btn-container {
  /* reset style for button */
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ml-header__toggle-btn .toggle-btn-container .bar {
  display: block;
  background-color: #fff;
  width: 25px;
  height: 2px;
  margin-bottom: 4px;
}

.ml-header__toggle-btn .toggle-btn-container .bar:last-child {
  margin-bottom: 0;
}

/* main section */
.ml-main__wrapper {
  width: 100%;
  padding: 0 15px;
  margin-top: 15px;
}

.ml-main__title > h1 {
  font-size: 2.5em;
}

.ml-main__title > h2 {
  color: #8d8d8d;
}

.ml-main__description {
  height: 20vh;
  border: solid 1px #fff;
  border-radius: 12px;
}

.swipe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swipe #button-background {
  position: relative;
  background: inherit;
  width: 200px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swipe #button-background #slider {
  -webkit-transition: width 0.3s, border-radius 0.3s, height 0.3s;
  transition: width 0.3s, border-radius 0.3s, height 0.3s;
  position: absolute;
  left: -10px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swipe #button-background #slider.unlocked {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: inherit;
  left: 0 !important;
  height: inherit;
  border-radius: inherit;
}

.material-icons {
  color: #231e1b;
  font-size: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.slide-text {
  color: #8d8d8d;
  font-size: 24px;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* footer section */
.ml-footer {
  min-height: 60px;
  background: inherit;
  border: 1px solid #fff;
}
/*# sourceMappingURL=style.css.map */